body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.payment-form-container {
  width: 300px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.payment-form {
  text-align: left;
}

.icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #003366;
  font-weight: bold;
  margin: 10px 0;
}

.details {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
}

.details span:first-child {
  float: left;
}

.details span:last-child {
  float: right;
}

.details p::after {
  content: "";
  display: table;
  clear: both;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.label {
  color: #003366;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.input-text {
  width: calc(100% - 10px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid #003366;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.input-text[readonly] {
  background-color: #e9e9e9;
  color: #333;
}

.card-logos {
  text-align: center;
  margin: 10px 0;
}

.card-logo {
  width: 50px;
  margin: 0 5px;
}

.expiry-date {
  display: flex;
  justify-content: space-between;
}

.input-date {
  width: 48%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid #003366;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.payment-button {
  width: 80%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.payment-button:hover {
  background-color: #002244;
}

.payment-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loading-gif {
  display: none;
  margin: 20px auto;
  width: 50px;
  height: 50px;
}
